footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5152bb;
    height: 10px;
    width: auto;
    color: white;
}

.footer-content {
    padding: 75px 10%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: #5152bb;

}

.col1{
    margin-top: -50px;
    margin-right: 145px;
    width: 100%;
    padding: 1px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #5152bb;
    & a:hover {
        text-decoration: underline;
    }
}
.col2{
    margin-right: 145px;
    width: 100%;
    padding: 1px;
    text-align: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: #5152bb;

}
.col3 {
    margin-top: -210px;
    margin-right: -200px;
    width: 80%;
    text-align: right;
    display: flex;
    justify-content: normal;
    flex-direction: column;
    background-color: #5152bb;

}
.Cookies{
    width: 25%;
    height: 50%;
    background: #21212F;
    display: flex;
    justify-content: center;
    position: fixed;
    border-radius: 20px;
    margin-top: -12%;
    margin-left: 74%;
    border-style: solid;
    border-color: #FFFFFF;
    :link { color: deepskyblue; }
    & a:hover {
        text-decoration: underline;
    }

}
.cookieacceptbtn{
    position: absolute;
    width: 45%;
    height: 15%;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 19vw ;
    margin-right: 1vw;
    background: ;
    border-style: solid;
    border-color: #FFFFFF;
    margin-right: 10vw;
}
.cookiedeclinebtn{
    position: absolute;
    width: 40%;
    height: 15%;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 19vw ;
    margin-right: 1vw;
    background: ;
    border-style: solid;
    border-color: #FFFFFF;
    margin-right: -12vw;
}
.CookiesText{
    position: absolute;
    margin-right: 6vw;
   }

.cookiepng{
    position: absolute;
    margin-right: -19vw;
    margin-top: -1.5vw;
}
.footer-content h3{

line-height: 0rem;
text-transform: capitalize;
font-size: x-large;


}

.main-menu-display {
    background-color: #212121;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top: 5px solid #21212F;
    background-image: linear-gradient(
            to bottom, transparent, #212121
    ), url("./images/mainFrame.png");
}

.best-sellers {
    text-align: center;
    font-size: 1.5vw;
}

.over-ons {
    text-align: center;
    font-size: 1.5vw;
}

.over-ons p {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: left;
}

.bs-list {
    font-size: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.bs img {
    height: 20vw;
}

.bs {
    margin: 4vh 1vw;
    width: 40vw;
    height: fit-content;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #EEEEEE;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    color: #212121;
    box-shadow: 10px 10px 15px rgba(12, 12, 12, 0.7);
    transition: 200ms ease-in-out;
}

.bs:hover {
    box-shadow: 15px 15px 20px rgba(12, 12, 12, 0.7);
    transition: 200ms ease-in-out;
}

.bs h1 {
    text-align: left;
    margin-left: 2vw;
}

.bs p {
    text-align: left;
    margin: 10px 10px;
}

.euro-text {
    color: rgba(0, 0, 0, 0.7);
    float: right;
    margin-right: 2vw;
}
.kortingsprijs {
    color: red;
    font-weight: bold;
    text-decoration: line-through;
}

.main-menu-display h1{
    font-size: 5vw;
}

/* Voor kleine schermen zoals telefoons */
@media only screen and (max-width: 900px) {
    .navbar a {
        visibility: hidden;
    }

    .over-ons p {
        margin-left: 0;
        margin-right: 0;
    }

    .mobile-show {
        visibility: visible;
        position: absolute;
        top: 0.5vh;
        margin: 0;
    }

    .best-sellers {
        text-align: center;
        font-size: 5vw;
    }

    .bs-list {
        font-size: 1vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .bs img {
        width: 100%;
        height: unset;
    }

    .bs {
        margin: 1vh 0vw;
        width: 90vw;
        height: 105vw;
    }

    .bs h1 {
        font-size: 5vw;
        text-align: left;
        margin-left: 10vw;
    }

    .bs p {
        text-align: left;
        margin: 10px 10px;
        font-size: 4vw;
    }

    .bs .euro-text {
        color: rgba(0, 0, 0, 0.7);
        float: right;
        margin-right: 10vw;
    }

    .main-menu-display {
        height: 30vh;
        width: 100%;
    }
    .over-ons{
        font-size: 3.5vw;
        padding: 13px;
    }
}
