html, body {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif';
    color: #EEEEEE;
    background-color: #21212F ;
}

.mobile-navbar {
    visibility: hidden;
}

.mobile-nav-item {
    visibility: hidden;
}

a {
    text-decoration: inherit;
    color: inherit;
}

header {
    overflow: hidden;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: #21212F;
    height: 10px;
    width: auto;
    color: white;
}

.footer-content {
    padding: 100px 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5152bb;

}

.col1{
    margin-top: -50px;
    margin-right: 145px;
    width: 100%;
    padding: 1px;
    text-align: left;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-color: #5152bb;
    & a:hover {
        text-decoration: underline;
    }
}
.col2{
    margin-right: 145px;
    width: 100%;
    padding: 1px;
    text-align: left;
    display: flex;
    align-items: Right;
    justify-content: left;
    flex-direction: column;
    background-color: #5152bb;

}
.col3 {
    margin-top: -210px;
    margin-right: -200px;
    width: 80%;
    text-align: right;
    display: flex;
    align-items: left;
    justify-content: normal;
    flex-direction: column;
    background-color: #5152bb;

}

.footer-content h3{

line-height: 0rem;
text-transform: capitalize;
font-size: x-large;


}

.navbar {
    background-color: #21212F;
    width: 100%;
    padding: 5px;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a {
    height: calc(10vh + 10px);
    text-align: center;
    align-items: center;
    transition: 100ms ease-in-out;
}

.mobile-nav-item {
    font-size: 3vh;
    visibility: hidden;
}

.nav-logo {
    height: inherit;
    left: 0;
}

.mobile-show {
    visibility: hidden;
    position: absolute;
}

.nav-item {
    font-size: 3vh;
    height: 100%;
    transition: 100ms ease-in-out;
}

.nav-searchbar input{
    transition: 200ms ease-in-out;
    width: 30vw;
    height: 6vh;
    font-size: 3vh;
    border-radius: 100px 20px;
    padding: 0px 10px;
    border: 0px;
    text-align: center;
}

.nav-searchbar input:focus {
    transition: 200ms ease-in-out;
    border-radius: 20px 100px;
    width: 50vw;
    .nav-searchbar {
        width: 50vw;
    }
}

.nav-searchbar input:hover {
    transition: 200ms ease-in-out;
    border-radius: 20px 100px;
    width: 50vw;
    .nav-searchbar {
        width: 50vw;
    }
}

.nav-item .material-symbols-sharp {
    font-size: 4vh;
    transform: translate(0, 20%);
}

.navbar a:hover {
    border-bottom: 5px solid #EEEEEE;
    transition: 100ms ease-in-out;
    .nav-item {
        transform: translate(0px, -5px);
        transition: 100ms ease-in-out;
    }
}

.main-menu-display {
    background-image: url("./images/mainFrame.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-bottom: 5px solid #21212F;
    border-top: 5px solid #21212F;
}

.best-sellers {
    text-align: center;
    font-size: 1.5vw;
}

.over-ons {
    text-align: center;
    font-size: 1.5vw;
}

.over-ons p {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: left;
}

.bs-list {
    font-size: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.bs img {
    width: inherit;
}

.bs {
    margin: 4vh 1vw;
    width: 25vw;
    height: 30vw;
    overflow: hidden;
    background-color: #EEEEEE;
    text-align: center;
    border-radius: 10%;
    color: #212121;
    box-shadow: 10px 10px 15px rgba(12, 12, 12, 0.7);
    transition: 200ms ease-in-out;
}

.bs:hover {
    box-shadow: 15px 15px 20px rgba(12, 12, 12, 0.7);
    transition: 200ms ease-in-out;
}

.bs h1 {
    text-align: left;
    margin-left: 2vw;
}

.bs p {
    text-align: left;
    margin: 10px 10px;
}

.bs .euro-text {
    color: rgba(0, 0, 0, 0.7);
    float: right;
    margin-right: 2vw;
}

.main-menu-display h1{
    font-size: 5vw;
}

/* Voor kleine schermen zoals telefoons */
@media only screen and (max-width: 900px) {
    .navbar a {
        visibility: hidden;
    }

    .over-ons p {
        margin-left: 0;
        margin-right: 0;
    }

    .mobile-show {
        visibility: visible;
        position: absolute;
        top: 0.5vh;
        margin: 0;
    }

    .navbar .nav-logo a {
        visibility: hidden;
    }

    .best-sellers {
        text-align: center;
        font-size: 5vw;
    }

    .bs-list {
        font-size: 1vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .bs img {
        width: inherit;
    }

    .bs {
        margin: 1vh 0vw;
        width: 90vw;
        height: 105vw;
    }

    .bs h1 {
        font-size: 5vw;
        text-align: left;
        margin-left: 10vw;
    }

    .bs p {
        text-align: left;
        margin: 10px 10px;
        font-size: 4vw;
    }

    .bs .euro-text {
        color: rgba(0, 0, 0, 0.7);
        float: right;
        margin-right: 10vw;
    }

    .main-menu-display {
        height: 30vh;
        width: 100%;
    }

    .nav-searchbar input:focus {
        width: 90vw;
        max-width: 90vw;
        height: 6vh;
        font-size: 3vh;
        border-radius: 20px;
        padding: 0px 10px;
        border: 0px;
        box-sizing: border-box;
        text-align: center;
    }

    html, body {
        margin: 0;
        padding: 0;
        font-family: 'Bree Serif';
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15vh;
        padding: 0;
        margin: 0;
    }
    
    .nav-logo {
        visibility: hidden;
    }
    
    .nav-item {
        visibility: hidden;
    }

    .mobile-navbar {
        visibility: visible;
        background-color: #21212F;
        width: 100%;
        padding-top: 5px;
        height: 5vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0;
        position: fixed;
    }

    .mobile-nav-item {
        align-items: center;
        align-content: center;
        text-align: center;
        font-size: 5vh;
        visibility: visible;
        padding: 0 10%;
    }

    .nav-searchbar {
        width: 95%;
        max-width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .nav-searchbar input {
        width: 90vw;
        max-width: 90vw; 
        height: 6vh;
        font-size: 3vh;
        border-radius: 20px;
        padding: 0px 10px;
        border: 0px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 100px 20px;
    }

    .material-symbols-sharp {
        font-size: 4vh;
      }
      

    /* vanaf hier account page css */
    

    .account{



    }
}
