/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
}

/* Make the image responsive */
.container img {
    width: 100%; /* Aangepast zodat de afbeelding zich binnen de container aanpast */
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}

/* Style for all buttons */
button {
    width: 300px; /* Aangepast op basis van de gewenste breedte */
    height: 50px; /* Aangepast op basis van de gewenste hoogte */
    border: none;
    padding: 0;
    margin: 0;
}


}
/* style.css */

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}
