.product {
    overflow: hidden;
    background-color: #FFFFFF;
    color: #212121;
    border-radius: 25px;
    margin: 2vw;
    padding: 2vw;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product .naastDeImage .aaaaah img{
    max-height: 50vh;
    height: auto;
}

.aaaaah {
    width: 65%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product .naastDeImage .info{
    width: 30%;
    text-align: left;
    justify-content: center;
    left: 0;
    position: relative;
    align-: center;
}

.levertijd {
    transform: translateY(-50%);
}
.tijddisclaimer {
    transform: translateY(-100%);
}

.addToCart {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    bottom: 0;
    font-family: 'Bree Serif';
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.addToCart:hover {
    background-color: RoyalBlue;
}

.naastDeImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #898989;
}


.tags {
    transform: translateY(-50%);
}

.aaaaah .imageSwitch {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.aaaaah .imageSwitch > div {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    & p {
        font-size: 40px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                              supported by Chrome and Opera */
    }
}
.hoverme:hover {
    cursor: pointer;
}

.active {
    border-bottom: 2px solid;
}

.kortingsprijs {
    color: #FF0000;
    text-decoration: line-through;
    text-decoration-thickness: 2px
}

.product h1 {
    text-align: center;
    font-size: 2vw;
    padding: 3px;
    border-bottom: 2px solid #898989;
    width: 100%;
}

.product .price{
    font-family: 'Bree Serif';
    padding-right: 5px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 3vw;
    margin: 0;
}
.sternummeritem{
    margin-bottom: 0.35em;
    margin-left: 0.5em;
    display: inline-block;
    font-size: 120%;
}
.star{
    display: inline-block;
}

.errorcode{
    color: #FF0000;
    border: #FF0000;
    border-top: #FF0000;

}
.reviewpopup{
    z-index: 1;
    position: fixed;
    background: rgb(0,0,0, 0.3);
    width: 200%;
    height: 175%;
    max-width: 156em;
    max-height: 100em;
    transition: all 2000ms ease;
    scale: 100%;
    position: fixed;
    display: none;
    transform: translate(0%, -20%)
}

.reviewpopupbackground{
    transition: all 2000ms ease;
    width: 25%;
    height: 36%;
    background: #212121;
    margin-left: 20%;
    margin-top: 12%;
    border: grey;
    border-style: solid;
    border-radius: 1em;
    border-width: 0.2em;
    border-left-width: 0.26em;
    position: relative;
}

.reviewpopuptekstbox{


}

.realbackground{
    width: 100%;
    height: 100%;
    position: absolute;
    display: auto;
}

.reviewschrijven{
    margin-left: 4em;
    cursor: pointer;
}
.closebtn{
    margin-left: 90%;
    margin-top:6%;
    scale: 225%;
    width: 3.1%;

}


.closebtn:hover{
    cursor: pointer;
    background: #555555;
    opacity: 99%;
    border-radius: 300em;
    transition: ease-in-out all 400ms;
}

.reviewpopupforms{
    margin-left: 5%;
    margin-top: -3%;

}

.opmerkingen{
    width: 90%;
    height: 20%;
    border-radius: 0.2em;
    border-style: solid;
}

.reviewmain{
}
.reviewbackground{
    width: 12em;
    height: 3em;
    background: #212121;
    border: white;
    border-style: solid;
    border-radius: 0.7em;
    border-width: 0.1em;
    display: flex;
    transition: ease-in-out all 200ms;
}


.reviewbackground:hover{
    opacity: 99%;
    background: darkgrey;

}

.reviewbekijkenbox{
    width: 50%;
    height: 35%;
    background: white;
    border-radius: 1em;
    margin-left: 2em;
    color: #212121;
}




.aaaaah{
    border-right: grey;
    border-top: white;
    border-left: white;
    border-bottom: white;
    border-style: solid;
    border-right-width: 2px;
}

@media only screen and (max-width: 900px) {

    .product {
        border-radius: 0;
        margin: 0;
    }

    .product h1 {
        font-size: 40px;
        text-align: left;
    }
    .product .tags {
        text-align: center;
    }
    .product .levertijd, .tijddisclaimer {
        transform: unset;
    }
    .product .price {
        font-size: 40px;
        text-align: center;
    }
    .product .naastDeImage{
        flex-wrap: wrap;
    }
    .aaaaah {
        width: 100%;
    }
    .product .naastDeImage img {
        max-width: 90vw;
    }
    .product .naastDeImage .info {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        text-align: center;
        align-items: center;
    }
    .product .naastDeImage .addToCart {
        margin: 0;
    }
    .mobile-extend {
        width: 100%;
    }

}